.DS_Store
Translator/server/.env
Translator/server/node_modules/
PopChoice/server/.env
PopChoice/server/node_modules/
GoldDigger/.env
GoldDigger/node_modules/

# React Business Card / Vite setup
# Logs
react-business-card/logs
react-business-card/*.log
react-business-card/npm-debug.log*
react-business-card/yarn-debug.log*
react-business-card/yarn-error.log*
react-business-card/pnpm-debug.log*
react-business-card/lerna-debug.log*

react-business-card/node_modules
react-business-card/dist
react-business-card/dist-ssr
react-business-card/*.local

# Editor directories and files
react-business-card/.vscode/*
react-business-card/!.vscode/extensions.json
react-business-card/.idea
react-business-card/.DS_Store
react-business-card/*.suo
react-business-card/*.ntvs*
react-business-card/*.njsproj
react-business-card/*.sln
react-business-card/*.sw?

# Portfolio
# Logs
Portfolio/logs
Portfolio/*.log
Portfolio/npm-debug.log*
Portfolio/yarn-debug.log*
Portfolio/yarn-error.log*
Portfolio/pnpm-debug.log*
Portfolio/lerna-debug.log*

Portfolio/node_modules
Portfolio/dist
Portfolio/dist-ssr
Portfolio/*.local

# Editor directories and files
Portfolio/.vscode/*
Portfolio/!.vscode/extensions.json
Portfolio/.idea
Portfolio/.DS_Store
Portfolio/*.suo
Portfolio/*.ntvs*
Portfolio/*.njsproj
Portfolio/*.sln
Portfolio/*.sw?