
body {
  margin: 0 auto;
  font-family: Inter,  sans-serif;
  background-color: #030712;
  color: white;
  width: 100%;
  max-width: 1200px;
  font-size: 0.9rem;
}

section {
  padding: 5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.nav-logo {
  width: 95px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
}

.nav-links {
  text-decoration: none;
  color: white;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-name {
  font-size: 2.5rem;
  padding-top: 15px;
  margin-bottom: 20px;
}

.hero-img {
  width: 280px;
  height: 100%;
  margin-right: 100px;
  margin-left: 50px;
  box-shadow: 10px 10px 0px 2px #374151;
}

.hero-description {
  margin: 0 0 20px 0;
  max-width: 700px;
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.hero-supp-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #a7abaf;
  margin-left: 1rem;
  margin: 0.5rem 1rem;
}

.available {
  margin: 0;
}

.location-img {
  width: 20px;
  margin-left: 0.1rem;
}

.available-img {
  margin-left: 0.45rem;
}

.social-icons {
  margin-top: 28px;
}

.social-icon {
  width: 25px;
  margin-right: 1rem;
}

.social-icon:hover {
  cursor: pointer;
}

.section-header {
  margin: 0 0 1rem 0;
  font-size: 0.75rem;
  width: 100px;
  padding: 0.5rem;
  background-color: #374151;
  text-align: center;
  border-radius: 20px;
}

.about {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #111827;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 1rem;
}

.about-img {
  width: 350px;
  box-shadow: -10px 10px 0px 2px #374151;
}

.facts-container {
  display: flex;
  gap: 1.5rem;
}

.fact-item {
  margin-bottom: 0.5rem;
}

.quick-facts {
  margin: 2rem 0 0 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(7, auto);
  row-gap: 2rem;
  padding-top: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 8rem;
}

.skill-img {
  width: 40px;
}