
body {
  margin: 0;
  font-family: Inter,  sans-serif;
  background-color: #030712;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.nav-logo {
  width: 95px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav-links {
  text-decoration: none;
  color: white;
}