
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.25);
    padding: 10px;
}

.color-block-container, .hex-codes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color-block-container {
    height: 60vh;
}

.color-scheme {
}

.hex-codes {
    grid-column: 1 / -1;
    height: 5vh;
}

.color-block, .hex-code {
    text-align: center;
    border: 1px solid black;
}

.color-block {

}

.hex-code {
}