
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.25);
}