
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.25);
    padding: 10px;
}

.color-picker {
    width: 60px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #E5E5E5;
}

.scheme-type {
    font-size: 1rem;
    padding: 10px;
    width: 65vw;
    margin: 0 15px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.scheme-type:focus {
    outline: none;
}

::picker(select) {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.get-scheme {
    padding: 10px 20px;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: white;
}

.scheme-type, .get-scheme {
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* COLOR BLOCK */

.color-block-container, .hex-codes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color-block-container {
    height: 60vh;
}

.hex-codes {
    grid-column: 1 / -1;
    height: 5vh;
}

.color-block, .hex-code {
    text-align: center;
    border: 1px solid black;
}
