body {
    margin: 0 auto;
    width: 500px;
    height: 900px;
    border: 1px solid black;
    font-family: 'Source Sans 3', sans-serif;
}

.headerLogo {
    height: 80px;
    padding-left: 15px;
}

.profilePic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.headerDivider {
    height: 1px;
    background-color: lightgray;
    margin-top: 12px;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postHeader {
    display: flex;
}