body {
    margin: 0 auto;
    width: 375px;
    /* height: 900px; */
    border: 1px solid black;
    font-family: 'Source Sans 3', sans-serif;
}

.headerLogo {
    height: 80px;
    padding-left: 15px;
}

.profilePic {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
}

.headerDivider {
    height: 1px;
    background-color: lightgray;
    margin-top: 12px;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postHeader {
    display: flex;
    align-items: center;
    margin: 0 0 5px 15px;
    padding-top: 5px;
}

.postUsername, .postLocation {
    margin: 0;
}

.postUsername, .postLikes, .postCaption {
    font-size: 13px;
}

.postLocation {
    font-size: 12px;
}

.postImage {
    width: 100%;
}

.postFooter {
    margin-top: 10px;
}

.postLikes {
    margin-bottom: 5px;
}

.postCaption {
    margin-top: 0;
}