/*
    Kyle Rohlfing
    12/2025
    Movie Watchlist Stylesheet
*/

/* SELECTORS */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    /* height: 100vh;
    min-height: 100vh; */
}

/* HEADER */

#hero {
    width: 100%;
    max-width: 1000px;
    height: 250px;
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    padding: 0 50px;
}

header h1 {
    font-size: 2.7rem;
    font-weight: 700;
}

header button {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
}

/* BODY */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
}

#search-input {
    width: 60%;
    max-height: 50px;
    padding: 17px 15px 15px 40px;
    border-radius: 5px 0 0 5px;
    border: none;
    background-image: url('img/mag.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #2E2E2F;
    color: #A5A5A5;
    font-size: 1rem;
    font-weight: 500;
}

#search-btn {
    width: 20%;
    height: 50px;
    padding: 17px 0 15px 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4B4B4B;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
}

#search-input:focus, #search-btn:focus {
    outline: none;
}

.search-bar {
    margin-bottom: 50px;
}

.landing-message, .watchlist-landing-message {
    font-size: 1.5rem;
    color: #2E2E2F;
    font-weight: 600;
}

.landing-message {
    margin-top: 10em;
}

/* WATCHLIST PAGE */

.watchlist-landing-message {
    margin-top: 15em;
    color: #787878;
}

.sub-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: white;
    cursor: pointer;
}

.sub-message-icon {
    width: 20px;
    margin-right: 10px;
}

.sub-message-text {
    display: inline;
    font-size: 1rem;
    vertical-align: middle;
    font-weight: 600;
}
