/* index.css */

/* SELECTORS */

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

#hero {
    width: 100%;
    max-width: 1000px;
    height: 250px;
    display: block;
    position: fixed;
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    padding: 0 50px;
}

header h1 {
    font-size: 2.7rem;
    font-weight: 700;
}

header button {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
}

/* BODY */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}