/* index.css */

/* SELECTORS */

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('img/posters.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0 50px;
}

header button {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
}

/* BODY */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}