
body {
  margin: 0;
  background-color: #23252C;
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.app {
  /* TEMP */
  border: 1px solid black;
  /* TEMP END */
  width: 500px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
