
body {
  margin: 0;
  background-color: #23252C;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.app {
  width: 50%;
  min-width: min-content;
  min-height: 950px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  background-color: #1A1B21;
  border-radius: 0 0 10px 10px;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.information {
  padding: 20px;
}

.information > h1 {
  margin: 0;
}

.information > p {
  margin-top: 10px;
  color: #F3BF99;
} 

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.buttons > button {
  width: 160px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}

.icon {
  margin-right: 10px;
  width: 20px;
}

#email-btn {
  color: #374151;
}

#linkedin-btn {
  background-color: #0A66C2;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 10px;
}

.section > h2 {
  margin: 10px 0 10px 0;
}

.section > p {
  margin: 0;
  font-size: 0.9rem;
}

.skills-list {
  display: flex;
  gap: 5px;
}

.skills-list > ul {
  margin: 0;
  text-align: left;
}

.footer {
  background-color: #161619;
  font-size: 0.9rem;
  margin-top: 20px;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
  cursor: pointer;
}

.github-icon {
  width: 30px;
  margin-right: 5px;
}