/* PollyGlot Translator App */
/* Kyle Rohlfing */
/* 1/6/26 */

:root{
  --bg: #f7f7fb;
  --card: #ffffff;
  --text: #111827;
  --accent: #32CD32;
  --button-bg: #035A9D;
}

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
  max-width: 600px;
  margin: auto;
}

main{
  margin: 24px auto 48px auto;
  padding: 24px;
  background: var(--card);
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(17,24,39,0.06);
  text-align: center;
}

header {
  height: 200px;
  background: url('assets/worldmap.png') no-repeat center;
  box-shadow: 0 2px 4px rgba(17,24,39,0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.logo-img {
  height: 120px;
  margin-right: 16px;
}

.logo {
  color: var(--accent);
  margin-bottom: 0;
}

.tagline {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.interface-text {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
}

.language-select {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 110px;
  height: 135px;
}

.language-select label {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}

.text-area {
  width: 100%;
  height: 150px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  background-color: #EFF0F4;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit;
  margin-bottom: 16px;
  resize: none;
}

.btn {
  width: 80%;
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: var(--button-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* LOADING SPINNER */

.loader {
    width: 48px;
    height: 48px;
    display: none;
    position: relative;
    border-width: 3px 2px 3px 2px;
    border-style: solid dotted solid dotted;
    border-color: #de3500 rgba(255, 255, 255,0.3) #fff rgba(151, 107, 93, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
    margin: auto auto 20px auto;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }