/* PollyGlot Translator App */
/* Kyle Rohlfing */
/* 1/6/26 */

:root{
  --bg: #f7f7fb;
  --card: #ffffff;
  --text: #111827;
  --accent: #32CD32;
}

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
  max-width: 600px;
  margin: auto;
}

main{
  margin: 48px auto;
  padding: 24px;
  background: var(--card);
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(17,24,39,0.06);
}

header {
  height: 200px;
  background: url('assets/worldmap.png') no-repeat center;
  box-shadow: 0 2px 4px rgba(17,24,39,0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.logo-img {
  height: 120px;
  margin-right: 16px;
}

.logo {
  color: var(--accent);
  margin-bottom: 0;
}

.tagline {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}