body {
    color: #000505;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {    font-size: 1.75rem;
}

h2 {
    color: #000505;
    font-size: 1.375rem;
    margin-top: 0;
}

h3 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

.subheading {
    display: block;
    font-size: 1rem;
    color: #696047;
}

.section-two h2 {
    color: inherit;
}

/* ----- LINKS ----- */

a {
    color: #92AC86;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #A7D49B;
}

.btn {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: whitesmoke;
    background: #92AC86;
}

.btn-mid {
    color: #525f4c; 
    background: #d4eece; 
}

.btn-light {
    color: #525f4c; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #000505;
    background-color: #A7D49B;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 1em 0;
}

header, 
.section-two {
    background-color: #92AC86;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.catch-image {
    width: 48%;
    display: block;
    max-width: 640px;
    margin: 0 auto 2em;
}

.fish-image-container {
    margin-bottom: 1.5rem;
}

.grid-image {
    width: 30%;
    flex: 1 260px;
}

footer {
    text-align: center;
    color: #92AC86;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* ----- NAVIGATION ----- */

nav a {
    color: #000505;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    border-radius: 5px;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        margin-top: 1.5em;
    }
 
    li:not(:last-child) {
        border-bottom: 1px dotted #A7D49B;
    }  
}

@media (min-width: 768px) {
    header,
    section,
    footer {
        padding: 2.875em 0;        
    }
    
    header .container,
    nav ul {
        display: flex;
    }
    
    header .container {
        justify-content: space-between;
        align-items: center;
    }
    
    nav li {
        margin-left: 1.25em;
    }
    
    .btn {
        display: inline-block;
        margin-right: 0.5em;
    }
    
    h1 {
        font-size: 2.25rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    .subheading {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 1.125rem;
    }
}